.mp__experience{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mp__experience-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    margin-inline:3rem;
}
.mp__experience-logo{
    flex:1;
    display: inline-block;
    width: 300px;
    height: 100px;
    align-content: center;
    
}
.mp__experience-logo img{
    width:100%;
    height:100%;
    object-fit:contain;
    align-items: center;
}

.mp__experience-ellipse{
    width: 39px;
    height: 39px;
    margin-inline: 2rem ;
    margin-top:5px;
    
    
    background: transparent;
    border: 7px solid var(--color-1);
    border-radius:50%;
    box-sizing: border-box;
}

.mp__experience-text{
    flex:2;
    font-family: var(--font-family);
    color: var(--color-white)
}

.mp__experience-text:hover{

    color: var(--color-2);

    
}

.mp__experience-text_details{
    color: var(--color-1);
    margin-top: 1rem;
    margin-left: 3rem;
}

/* TODO: webkits */