:root {
  --surface-color: var(--color-white);
  --curve: 40;
}

.mp__projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mp__projects-text {
  font-family: var(--font-family);
  color: var(--color-black);
}

.mp__projects-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 0 5vw;
  padding: 0;
  list-style-type: none;
}
