:root{
  font-family: var(--font-family);
}
html{
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
}
.info{
  display: flex;
  flex-direction: column;
}

section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 3rem;
  padding-top: 8rem;
  scroll-snap-align: start;
}

hr.solid{
  border-top: 3px solid var(--color-black);
  width: 100%;
  margin: 0 0 2rem 0;
}

.hero{
  display: flex;
  
  align-items: flex-start;
  justify-content: center;
}

.hero-text{

}

  .hero-text h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.5rem;
  }

.hero-text-variable{
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}



.layout{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title{
  flex:1;
}
.details{
  flex:2;
  display:flex;
  flex-direction: column;
  gap:2em;
  text-align: justify;
  padding-top: 1em;
  font-family: var(--font-text);
}

.item{
  display:flex;
  flex-direction: row;
}

.item-logo{
  flex:1;
  height:6em;
  text-align: center;
}

.item-logo img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item-ellipse {
  width: 2em;
  height: 2em;
  margin-inline: 2rem ;
  margin-top:5px;
  
  
  background: transparent;
  border: 7px solid var(--color-black);
  border-radius:50%;
  box-sizing: border-box;
}

.item-text{
  flex: 3;
}

.item-text:hover{
  color: var(--color-1)
}

.item-text-collapsible{
  margin: 1em;
}
