:root{
  font-family: var(--font-family);
}
html{
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
}
.info{
  display: flex;
  flex-direction: column;
}

section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 8rem 0 3em 0;
  scroll-snap-align: start;
}

hr.solid{
  border-top: 3px solid var(--color-black);
  width: 100%;
  margin: 0 0 2rem 0;
}

.hero{
  display: flex;
  
  align-items: flex-start;
  justify-content: center;
}

.hero-text{

}

  .hero-text h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3vw;
  }

.hero-text-variable{
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}



.layout{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.title{
  flex:1;
}
.details{
  flex:2;
  display:flex;
  flex-direction: column;
  gap:2em;
  text-align: justify;
  padding-top: 1em;
  font-family: var(--font-text);
}

.item{
  display:flex;
  flex-direction: row;
}

.item-logo{
  flex:1 0;
  height:5em;
  width: 8.5em;
  text-align: center;
  flex-shrink: 0;
}


.item-logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item-right{
  flex:3;
  display: flex;
}

.item-ellipse {
  width: 2em;
  height: 2em;
  margin-inline: 2em ;
  margin-top:0.3em;
  flex-shrink: 0;
  
  background: transparent;
  border: 0.4em solid var(--color-black);
  border-radius:50%;
  box-sizing: border-box;
}

.item-text{

  text-align: left;
}

.item-text:hover{
  color: var(--color-1)
}

.item-text-collapsible{
  margin: 1em;
}

@media (max-width: 60rem) {
  .projects{
    font-size: 75%;
  }
}


@media (max-width: 40rem) {
  .hero{
    flex-direction: column;
    align-items: center;
  }

  .hero-text{
    text-align: center;
  }

  .hero-text h1{
    font-size: 6vw;
  }

  .hero-text-variable{
    flex-direction: column;
    gap:0;
  }

  .layout{
    flex-direction: column;
    gap: 1em;
  }

  .details{
    font-size: 65%;
  }

  .item{
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
  }
  .item-right{
    flex:0;
  }

  .item-text{
    width: 20em;
  }
  .item-logo{
    flex:none;
    overflow:hidden;
  }
}
