:root {
  --surface-color: var(--color-white);
  --curve: 40;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 16rem;


  background-color: var(--color-white);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--color-black);
  border-top: 0.5em solid var(--color-black);
}
.card-preview{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  
}

.card-preview img{
  width:  100%;
  object-fit: contain;
}
.card-title{
  display: flex;
  justify-content: space-between;
  padding:0.5em;
  align-items: center;
}

.card-preview h3{
  
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  flex: 3;
}
.card-icon{
  flex:1;
  vertical-align: middle;
  height: 2em;
}

.card-details{
  padding:0.5rem 0.5rem 0.5rem 0;
}
.card-details h3{
  margin-bottom: 0.3rem;
}