.mp__collapsible-text{
    flex:2;
    font-family: var(--font-family);
    color: var(--color-white)
}

.mp__collapsible-text:hover {
    background-color: rgb(185, 78, 78);
}

.toggle{
    margin: 1em 0 0 1em;
    text-align: justify;
}