:root{
  font-family: var(--font-family);
}

.projects{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  margin-bottom: 4rem;
  padding-top: 8rem;
  scroll-snap-align: start;
  /* scroll-snap-type: unset; */
}

.tab-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 2.5em;
  padding-bottom: 1em;
}

.tabs{
  font-size: 1.5em;
  text-align: left;
  transition: all 1s ease-in-out;
}

.tab-active{
  flex: 1;
  transition: all 1s ease-in-out;
}

.tab-1-active{
  color: var(--color-1);
}
.tab-2-active{
  color: var(--color-2);
}
.tab-3-active{
  color: var(--color-3);
}
.tab-4-active{
  color: var(--color-4);
}

.tab-1-inactive:hover{
  color: var(--color-1);
}
.tab-2-inactive:hover{
  color: var(--color-2);
}
.tab-3-inactive:hover{
  color: var(--color-3);
}
.tab-4-inactive:hover{
  color: var(--color-4);
}

.divider-solid{
  
  width: 100%;
  margin: 0 0 0 0;
  transition: border-color 0.5s linear;
}

.divider-1{
  border-top: 0.5em solid var(--color-1);
}
.divider-2{
  border-top: 0.5em solid var(--color-2);
}
.divider-3{
  border-top: 0.5em solid var(--color-3);
}
.divider-4{
  border-top: 0.5em solid var(--color-4);
}

.tag-selector{
  display: flex;
  flex-wrap: wrap;
  gap:0.8em;
  width: 100%;
  margin: 1em;
  justify-content: center;
}

.tag{
  display: flex;
  gap:0.5em;
  background-color: var(--color-white);
  border-radius: 1em;
  border: 1px solid var(--color-black);
  padding: 0.3em 1em;
  font-size: 0.8em;
  font-family: var(--font-text);
  
}

.tag-enabled{
  color: var(--color-current);
}

.content{
  display:flex;
  flex-wrap: wrap;
  gap:2em;
  justify-content: center;

  transition: all 1s ease-in-out;
}

@media (max-width: 60rem) {
  .projects{
    font-size: 85%;
  }
}


@media (max-width: 40rem) {
  .tab-block{
    gap:1.5em;
  }
  .tabs{
    font-size: 1.2em;
  }
}