.mp__competencies{
    height: 100vh;
}
.mp__competencies-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    margin-bottom: 1rem;
    margin-inline:3rem;
}
.mp__competencies-softwares{
    background: var(--color-2);
    border: 1px solid transparent;
    border-radius:1rem;
    padding: 2rem;
    text-align: left;
}
.mp__competencies-softwares h2{
    color: #000000;
}
.mp__competencies-software{
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #000000;
}

.mp__competencies-software-progress{
    width: 100px;
}
progress{
    width: 100px;
}
/* For Chrome or Safari */
progress::-webkit-progress-bar {
    background-color: var(--color-2);
}

progress::-webkit-progress-value {
    background-color:var(--color-black)!important;
}


/* For Firefox */
progress {
    background-color: var(--color-2);
}

progress::-moz-progress-bar {
    background-color: var(--color-black) !important;
}

/* For IE10 */
progress {
    background-color: var(--color-2);
}

progress {
    background-color: var(--color-black);
}

.mp__competencies-programming{
    background: var(--color-2);
    border: 1px solid transparent;
    border-radius:1rem;
    padding: 2rem;
    text-align: left;
    display: inline-block;
}
.mp__competencies-programming h2{
    color: var(--color-black);
}
.mp__competencies-programming li{
    color: var(--color-black);
}
.mp__competencies-skills{
    background: var(--color-2);
    border: 1px solid transparent;
    border-radius:1rem;
    padding: 2rem;
    text-align: left;
    display: inline-block;
}

.mp__competencies-text{
    flex:2;
    font-family: var(--font-family);
    color: var(--color-black)
}


.mp__competencies-text_details{
    color: var(--color-text);
    margin-top: 1rem;
    margin-left: 3rem;
}

/* TODO: Webkits */