* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--color-white);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  .dotted__bg {
    --bg-color: black;
    --dot-color: rgba(0, 0, 0, 0.5);;
    --dot-size: 0.1vw;
    --dot-space: calc( calc(100vw - 0.5rem)  / 15);

    background: white;
    background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent 0);
    background-size: var(--dot-space) var(--dot-space);

    /* background: linear-gradient(90deg, var(--bg-color) (var(----dot-space) - var(--dot-size)), transparent 1%) center, linear-gradient(var(--bg-color) (var(--dot-space) - var(--dot-size)), transparent 1%) center, var(--dot-color);
	  background-size: var(--dot-space) var(--dot-space); */
  }

  .outlet__margin{
    margin:0 10vw;
    
  }

  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
