* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--color-white);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  .dotted__bg {
    --bg-color: black;
    --dot-color: rgba(0, 0, 0, 0.5);;
    --dot-size: 1.2px;
    --dot-space: calc( calc(100vw - 0.5rem)  / 15);

    background: white;
    background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent 0);
    background-size: var(--dot-space) var(--dot-space);

    /* background: linear-gradient(90deg, var(--bg-color) (var(----dot-space) - var(--dot-size)), transparent 1%) center, linear-gradient(var(--bg-color) (var(--dot-space) - var(--dot-size)), transparent 1%) center, var(--dot-color);
	  background-size: var(--dot-space) var(--dot-space); */
  }

  .outlet__margin{
    margin:0 3rem;
  }

  .gradient__bg {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(17, 17, 17, 1) 0%, rgba(44, 44, 44, 1) 88%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(17, 17, 17, 1) 0%, rgba(44, 44, 44, 1) 88%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(17, 17, 17, 1) 0%, rgba(44, 44, 44, 1) 88%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(17, 17, 17, 1) 0%, rgba(44, 44, 44, 1) 88%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(17, 17, 17, 1) 0%, rgba(44, 44, 44, 1) 88%);
  }
  
  .gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .section__padding {
    padding: 4rem 6rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }

  .section__head-text{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    margin-bottom: 3rem;
    color: var(--color-2);
  }
  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
  
    .section__margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .section__margin {
      margin: 4rem 2rem;
    }  
  }