.mp__header{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.mp__header-content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.mp__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: var(--color-2);
}
.mp__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-1);

    margin-top: 1.5rem;
}
.mp__header-subtitle{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.mp__header-subtitle h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-1);
    text-transform: uppercase;
    margin-top: 0rem;
    margin-right: 20px;
}


.mp__header-headshot{
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.mp__header-headshot img{
    display: inline-block;
    border-radius: 50%;
    border: 5px solid var(--color-1);
    overflow: hidden;
    width: 300px;
    height: 300px;

    object-fit: cover;
}
@media screen and (max-width: 1050px) {
    .mp__header {
        flex-direction: column;
    }

    .mp__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .mp__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .mp__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .mp__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .mp__header-content__people {
        flex-direction: column;
    }

    .mp__header-content__people p {
        margin: 0;
    }

    .mp__header-content__input input,
    .mp__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .mp__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .mp__header-content h3 {
        font-size: 14px;
        line-height: 24px;
    }
    .mp__header-content p {
        font-size: 14px;
        line-height: 24px;
    }


    .mp__header-content__input input,
    .mp__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}